<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.exportaves" >

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >

		<!-- Start Menu Activity -->
		<activity
			android:name=".start_menu_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Login Menu Activity -->
		<activity
			android:name=".login_menu_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".button_main_activity"
			android:label="@string/app_name"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".forgot_password_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".help_menu_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".howtouse_menu_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".profile_update_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".sign_success_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>
		<activity
			android:name=".signup_menu_activity"
			android:label="@string/app_name"
			android:exported="false">
		</activity>

	</application>

</manifest>
